FIREBASE_SERVICE_ACCOUNT=
PUBLIC_FIREBASE_CONFIG=
PUBLIC_FIREBASE_APP_CHECK_SITE_KEY=
PUBLIC_FIREBASE_APP_CHECK_DEBUG_TOKEN=

PUBLIC_POSTHOG_PROJECT_TOKEN=
PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

POSTHOG_API_KEY=
POSTHOG_HOST=https://us.i.posthog.com

POSTHOG_CLI_PROJECT_ID=
POSTHOG_CLI_API_KEY=
POSTHOG_CLI_HOST=https://us.posthog.com
