@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--mobile-browser-bottom-space: calc(6rem + env(safe-area-inset-bottom));
}

html {
	overflow-x: clip;
	overflow-y: auto;
	color-scheme: light;
}

html.dark {
	color-scheme: dark;
}

body {
	overflow-x: clip;
	background-color: rgb(255 255 255);
	color: rgb(15 23 42);
}

html.dark body {
	background-color: rgb(2 6 23);
	color: rgb(226 232 240);
}
